<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{%- style -%}

{%- endstyle -%}

{%- liquid
    assign logoSVG = section.settings.logo_svg
    assign logo_img = section.settings.logo_picker
-%}

{% javascript %} 
    $(function() {
        $("#language-select").select2(
            {
                minimumResultsForSearch: Infinity,
                width: '100%'
            }
        );

        $("#currency-select").select2(
            {
                minimumResultsForSearch: Infinity,
                width: '100%'
            }
        );
    });
{% endjavascript %}

<div data-section-type="header" data-section-id="{{section.id}}">
  <div class="section-container">
    <div class="header-top">
        <div class="header-top__logo">
           <a href="{{ shop.url }}">
                {% if logoSVG != blank %}
                    {{ logoSVG }}
                {% else %}
                    {% if logo_img != blank %}
                         <img src="{{ logo_img | img_url: '153x34' }}" /> 
                    {% endif %}
                {% endif %}
           </a>
        </div>
        <div class="header-top__products">
            <i class="fa-solid fa-bars"></i>
            
            <div class="header-top__title">
                Products
            </div>
        </div>
        <div class="header-top__search">
            <input type="search" id="header-top__search" name="header-top__search" placeholder="Search for products...">
            <span class="header-top__btnSearch">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>  
        </div>
        <div class="header-top__language">
            <select id="language-select">
                <option value="eng">ENG</option>
                <option value="vn">VN</option>
                <option value="jp">JP</option>
            </select>
        </div>
        <div class="header-top__currency">
            <select id="currency-select">
                <option value="usd"> 
                    <span>USD ($)</span>
                </option>
                <option value="jpy"> 
                    <span>JPY (¥)</span>
                </option>
            </select>
        </div>
        <div class="header-top__icon">
            <div class="header-top__userAction">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1311_2388)">
                    <path d="M10 9.375C12.4162 9.375 14.375 7.41625 14.375 5C14.375 2.58375 12.4162 0.625 10 0.625C7.58375 0.625 5.625 2.58375 5.625 5C5.625 7.41625 7.58375 9.375 10 9.375Z" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.875 19.375C1.875 17.2201 2.73102 15.1535 4.25476 13.6298C5.77849 12.106 7.84512 11.25 10 11.25C12.1549 11.25 14.2215 12.106 15.7452 13.6298C17.269 15.1535 18.125 17.2201 18.125 19.375" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1311_2388">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>                    
            </div>
            <div class="header-top__love">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1311_2391)">
                    <path d="M10.0002 18.2032L2.01024 9.86983C1.30802 9.16816 0.844542 8.26321 0.685541 7.28333C0.52654 6.30345 0.680087 5.29838 1.12441 4.41066V4.41066C1.45945 3.74076 1.94888 3.16006 2.55236 2.7164C3.15584 2.27274 3.85611 1.97883 4.59545 1.85887C5.3348 1.73892 6.09207 1.79635 6.80486 2.02645C7.51766 2.25655 8.16558 2.65272 8.69524 3.18233L10.0002 4.4865L11.3052 3.18233C11.8349 2.65272 12.4828 2.25655 13.1956 2.02645C13.9084 1.79635 14.6657 1.73892 15.405 1.85887C16.1444 1.97883 16.8446 2.27274 17.4481 2.7164C18.0516 3.16006 18.541 3.74076 18.8761 4.41066C19.3198 5.29803 19.4731 6.30251 19.3142 7.28183C19.1554 8.26116 18.6925 9.16569 17.9911 9.86733L10.0002 18.2032Z" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1311_2391">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
            
                <span class="love-number">
                    12
                </span>
            </div>
            <a href="/cart" class="header-top__cart">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 15.9379H6.7325C6.43722 15.938 6.15147 15.8335 5.92587 15.6429C5.70028 15.4524 5.54941 15.1882 5.5 14.8971L3.3025 1.98043C3.25291 1.68947 3.10197 1.42544 2.87639 1.2351C2.65081 1.04475 2.36516 0.940367 2.07 0.94043H1.25" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.4375 17.8125C13.3757 17.8125 13.3153 17.8308 13.2639 17.8652C13.2125 17.8995 13.1724 17.9483 13.1488 18.0054C13.1251 18.0625 13.1189 18.1253 13.131 18.186C13.1431 18.2466 13.1728 18.3023 13.2165 18.346C13.2602 18.3897 13.3159 18.4194 13.3765 18.4315C13.4372 18.4436 13.5 18.4374 13.5571 18.4137C13.6142 18.3901 13.663 18.35 13.6973 18.2986C13.7317 18.2472 13.75 18.1868 13.75 18.125C13.75 18.0421 13.7171 17.9626 13.6585 17.904C13.5999 17.8454 13.5204 17.8125 13.4375 17.8125Z" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.1875 17.8125C7.12569 17.8125 7.06527 17.8308 7.01388 17.8652C6.96249 17.8995 6.92244 17.9483 6.89879 18.0054C6.87514 18.0625 6.86895 18.1253 6.881 18.186C6.89306 18.2466 6.92282 18.3023 6.96653 18.346C7.01023 18.3897 7.06591 18.4194 7.12653 18.4315C7.18715 18.4436 7.24999 18.4374 7.30709 18.4137C7.36419 18.3901 7.413 18.35 7.44733 18.2986C7.48167 18.2472 7.5 18.1868 7.5 18.125C7.5 18.0421 7.46708 17.9626 7.40847 17.904C7.34987 17.8454 7.27038 17.8125 7.1875 17.8125" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.03931 12.1879H15.0985C15.6559 12.1878 16.1973 12.0015 16.6367 11.6584C17.0761 11.3154 17.3882 10.8353 17.5235 10.2946L18.7318 5.46124C18.7549 5.36906 18.7566 5.27284 18.7369 5.17989C18.7172 5.08694 18.6765 4.99971 18.618 4.92483C18.5595 4.84995 18.4848 4.7894 18.3993 4.74776C18.3139 4.70613 18.2202 4.68452 18.1251 4.68457H3.76347" stroke="#191919" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                    
                <span class="cart-number">
                    <p>0</p>
                </span>
            </a>
        </div>    
    </div>
    <div class="header-menu">
        <ul class="header-menu__list">
            <li class="header-menu__item"><a href="#">Special</a> </li>
            <li class="header-menu__item"><a href="#">Local stores</a> </li>
            <li class="header-menu__item"><a href="#">Free delivery</a></li>
            <li class="header-menu__item"><a href="#">Shop</a> </li>
            <li class="header-menu__item"><a href="#">Pages</a> </li>
            <li class="header-menu__item"><a href="#">Collection</a> </li>
            <li class="header-menu__item"><a href="#">Blog</a> </li>
            <li class="header-menu__item"><a href="#">Contact</a> </li>
        </ul>
        <div class="header-menu__info">
            <p>Need help? <a href="#">contact@example.com</a> </p>
        </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Header",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "id": "logo_svg",
        "label": "Logo SVG",
        "info": "Blank to Logo image"
    },
    {
        "type": "image_picker",
        "id": "logo_picker",
        "label": "Logo image"
    }
  ]
}
{% endschema %}
