<link rel="stylesheet" href="{{ 'tiny-slider.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'main-product.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'component-quantity.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'component-product-form.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'component-base.css' | asset_url }}">
<script src="{{ 'variant-handle.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'qty-input-handle.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form-handle.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-product.js' | asset_url }}" defer="defer"></script>

{% assign thumb_pos = section.settings.thumbnail_position %}
{% assign thumb_show = section.settings.thumbnails_to_show %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="section-container" data-section-type="main-product" data-section-id="{{section.id}}">
    <div class="product-container {% if thumb_pos == 'left' %}thumbnail-left{% endif %}">
        <div class="product-slider">
            <div class="slider" id="slider-{{section.id}}">
                {% for media in product.media %}
                    <div class="slider-item">
                        <div class="slider-item-inner" id="slider-media-{{section.id}}">
                            {{ media | image_url: width: 380, height: 380 | image_tag }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul class="product-thumbnails" id="nav-container-{{section.id}}">
                {% for media in product.media limit: thumb_show %}
                    {% if forloop.first %}
                        <li class="active">
                            {{ media | image_url: width: 73, height: 73 | image_tag }}
                        </li>
                    {% else %}
                        <li>
                            {{ media | image_url: width: 73, height: 73 | image_tag }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            
        </div>

        <div class="product-info">
            <div class="product-brand-name">{{ product.vendor }}</div>
            <h3 class="product-name" id="title-{{section.id}}">   
                {{- product.title }} - {% if product.selected_variant -%} {{- product.selected_variant.title -}}{%- else -%}{{- product.variants[0].title -}}{%- endif -%}
            </h3>
            <div class="product-rating">
                <div class="product-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span class="product-review">(4 Reviews)</span>
            </div>
            <ul class="product-service">
                <li>
                    <img src="{{ 'image_2022-06-01_110837947.png' | file_url }}" />
                    <span>Free delivery for all orders</span>
                </li>
                <li>
                    <img src="{{ 'image_2022-06-01_110905205.png' | file_url }}" />
                    <span>Only fresh foods</span>
                </li>
                <li>
                    <img src="{{ 'clock_1.png' | file_url }}" />
                    <span>25/7 delivery service</span>
                </li>
            </ul>
            <div class="product-social-icon">
                <a href="#" class="icon-facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#" class="icon-twitter">  
                    <i class="fa-brands fa-twitter"></i>
                </a>
                
                <a href="#" class="icon-pinterest">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="#" class="icon-share">
                    <i class="fa-solid fa-share-nodes"></i>
                </a>
            </div>

            {% if thumb_pos == 'bottom' %}
                <div class="product-price" id="price-{{section.id}}">
                    {%- render 'price', product: product, use_variant: true, show_badges: false -%}
                </div>
               
                {%- unless product.has_only_default_variant -%}
                    {%- render 'variant-radios', section: section, product: product -%}
                {%- endunless -%}
              
                <div class="product-order">
                    <div class="stock-count">
                        <span>Quantity</span>
                        <span class="stock-number" id="stock-{{section.id}}">Only {{ product.selected_or_first_available_variant.inventory_quantity }} left in stock!</span>
                    </div>

                    <div class="qty-btn-wrapper">
                        <div class="qty-btn-inner">
                            <quantity-input class="quantity">
                                <button class="quantity__button" name="minus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input class="quantity__input"
                                    type="number"
                                    name="quantity"
                                    id="Quantity-{{ section.id }}"
                                    min="1"
                                    value="1"
                                    form="{{ product_form_id }}"
                                  >
                                <button class="quantity__button" name="plus" type="button">
                                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                  {% render 'icon-plus' %}
                                </button>
                            </quantity-input>
        
                            <product-form class="product-form">
                                <div class="product-form__error-message-wrapper" role="alert" hidden>
                                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                                  </svg>
                                  <span class="product-form__error-message"></span>
                                </div>
                            
                                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                                  <div class="product-form__buttons">
                                    <button
                                      type="submit"
                                      name="add"
                                      class="product-form__submit"
                                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                    >
                                        <span>
                                          {%- if product.selected_or_first_available_variant.available -%}
                                            <span> {% render 'icon-cart' %} </span>
                                            <span class="product-form__submit-text">{{ 'products.product.add_to_cart' | t }}</span>
                                          {%- else -%}
                                          <span class="product-form__submit-sold-out"> {{ 'products.product.sold_out' | t }} </span>
                                            
                                          {%- endif -%}
                                        </span>
                                        <div class="loading-overlay__spinner hidden">
                                            {% render 'spinner' %}
                                        </div>
                                    </button>
                                    {%- comment -%}
                                        {%- if block.settings.show_dynamic_checkout -%}
                                            {{ form | payment_button }}
                                        {%- endif -%}
                                    {%- endcomment -%}    
                                  </div>
                                {%- endform -%}
                            </product-form>
                        </div>
                        
                        <div class="product-text-link">
                            <div class="product-wishlist"><p>Add to wishlist</p></div>
                            <div class="product-compare"><p>Add to compare</p></div>
                        </div>
                    </div>
                    <div class="product-add-more">
                        <span class="add-more-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1201_4882)">
                                <path d="M19.375 12.5V15C19.375 15.3315 19.2433 15.6495 19.0089 15.8839C18.7745 16.1183 18.4565 16.25 18.125 16.25H1.875C1.54348 16.25 1.22554 16.1183 0.991117 15.8839C0.756696 15.6495 0.625 15.3315 0.625 15V12.5C1.28804 12.5 1.92393 12.2366 2.39277 11.7678C2.86161 11.2989 3.125 10.663 3.125 10C3.125 9.33696 2.86161 8.70107 2.39277 8.23223C1.92393 7.76339 1.28804 7.5 0.625 7.5V5C0.625 4.66848 0.756696 4.35054 0.991117 4.11612C1.22554 3.8817 1.54348 3.75 1.875 3.75H18.125C18.4565 3.75 18.7745 3.8817 19.0089 4.11612C19.2433 4.35054 19.375 4.66848 19.375 5V7.5C18.712 7.5 18.0761 7.76339 17.6072 8.23223C17.1384 8.70107 16.875 9.33696 16.875 10C16.875 10.663 17.1384 11.2989 17.6072 11.7678C18.0761 12.2366 18.712 12.5 19.375 12.5Z" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.875 8.75C7.56536 8.75 8.125 8.19036 8.125 7.5C8.125 6.80964 7.56536 6.25 6.875 6.25C6.18464 6.25 5.625 6.80964 5.625 7.5C5.625 8.19036 6.18464 8.75 6.875 8.75Z" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.75 13.75C14.4404 13.75 15 13.1904 15 12.5C15 11.8096 14.4404 11.25 13.75 11.25C13.0596 11.25 12.5 11.8096 12.5 12.5C12.5 13.1904 13.0596 13.75 13.75 13.75Z" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.125 6.875L6.875 13.125" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1201_4882">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    
                        <span class="add-more-text">Add 15 products to cart and get 10$ discount</span>
                    </div>
                    <hr>
                </div>
                
            {% endif %}

            <div class="product-tags">
                <h5>Tags:</h5>
                <ul class="product-tags__list">
                    {% for tag in product.tags %}   
                        <li> {{ tag }} </li>     
                    {% endfor %}
                </ul>
            </div>
            <div class="product-sku">
                <h5>SKU:</h5>
                <span id="sku-{{section.id}}">
                    {%- if product.selected_variant -%}
                        {{- product.selected_variant.sku -}}
                    {%- else -%}
                        {{- product.variants[0].sku -}}
                    {%- endif -%}
                </span>
            </div>
        </div>

        {% if thumb_pos == 'left' %}
            <div class="product-calculator-wrapper">
                <div class="product-calculator">
                    <div class="product-price" id="price-{{section.id}}">
                        {%- render 'price', product: product, use_variant: true, show_badges: false -%}
                    </div>

                    {%- unless product.has_only_default_variant -%}
                        {%- render 'variant-radios', product: product -%}
                    {%- endunless -%}
                    
                    <div class="product-order">
                        <div class="stock-count">
                            <span>Quantity</span>
                            <span class="stock-number" id="stock-{{section.id}}">Only {{ product.selected_or_first_available_variant.inventory_quantity }} left in stock!</span>
                        </div>
                        <quantity-input class="quantity">
                            <button class="quantity__button" name="minus" type="button">
                              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                              {% render 'icon-minus' %}
                            </button>
                            <input class="quantity__input"
                                type="number"
                                name="quantity"
                                id="Quantity-{{ section.id }}"
                                min="1"
                                value="1"
                                form="{{ product_form_id }}"
                              >
                            <button class="quantity__button" name="plus" type="button">
                              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                              {% render 'icon-plus' %}
                            </button>
                        </quantity-input>

                        <product-form class="product-form">
                            <div class="product-form__error-message-wrapper" role="alert" hidden>
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                              </svg>
                              <span class="product-form__error-message"></span>
                            </div>
                        
                            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                              <div class="product-form__buttons">
                                <button
                                  type="submit"
                                  name="add"
                                  class="product-form__submit"
                                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                                >
                                    <span>
                                      {%- if product.selected_or_first_available_variant.available -%}
                                       
                                        <span> {% render 'icon-cart' %} </span>
                                        <span class="product-form__submit-text"> {{ 'products.product.add_to_cart' | t }} </span>
                                        
                                      {%- else -%}
                                        <span class="product-form__submit-text"> {{ 'products.product.sold_out' | t }} </span>
                                      {%- endif -%}
                                    </span>
                                    <div class="loading-overlay__spinner hidden">
                                      {% render 'spinner' %} 
                                    </div>
                                </button>
                                {%- comment -%}
                                    {%- if block.settings.show_dynamic_checkout -%}
                                        {{ form | payment_button }}
                                    {%- endif -%}
                                {%- endcomment -%}    
                              </div>
                            {%- endform -%}
                          </product-form>
                        
                        <div class="product-text-link">
                            <div class="product-wishlist"><p>Add to wishlist</p></div>
                            <div class="product-compare"><p>Add to compare</p></div>
                        </div>
                    </div>
                </div>
                <div class="product-add-more">
                    <span class="add-more-icon">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1201_4882)">
                            <path d="M19.375 12.5V15C19.375 15.3315 19.2433 15.6495 19.0089 15.8839C18.7745 16.1183 18.4565 16.25 18.125 16.25H1.875C1.54348 16.25 1.22554 16.1183 0.991117 15.8839C0.756696 15.6495 0.625 15.3315 0.625 15V12.5C1.28804 12.5 1.92393 12.2366 2.39277 11.7678C2.86161 11.2989 3.125 10.663 3.125 10C3.125 9.33696 2.86161 8.70107 2.39277 8.23223C1.92393 7.76339 1.28804 7.5 0.625 7.5V5C0.625 4.66848 0.756696 4.35054 0.991117 4.11612C1.22554 3.8817 1.54348 3.75 1.875 3.75H18.125C18.4565 3.75 18.7745 3.8817 19.0089 4.11612C19.2433 4.35054 19.375 4.66848 19.375 5V7.5C18.712 7.5 18.0761 7.76339 17.6072 8.23223C17.1384 8.70107 16.875 9.33696 16.875 10C16.875 10.663 17.1384 11.2989 17.6072 11.7678C18.0761 12.2366 18.712 12.5 19.375 12.5Z" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.875 8.75C7.56536 8.75 8.125 8.19036 8.125 7.5C8.125 6.80964 7.56536 6.25 6.875 6.25C6.18464 6.25 5.625 6.80964 5.625 7.5C5.625 8.19036 6.18464 8.75 6.875 8.75Z" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.75 13.75C14.4404 13.75 15 13.1904 15 12.5C15 11.8096 14.4404 11.25 13.75 11.25C13.0596 11.25 12.5 11.8096 12.5 12.5C12.5 13.1904 13.0596 13.75 13.75 13.75Z" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.125 6.875L6.875 13.125" stroke="#FE8F17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1201_4882">
                            <rect width="20" height="20" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </span>
                
                    <span class="add-more-text">Add 15 products to cart and get 10$ discount</span>
                </div>
            </div>  
        {% endif %}
        
    </div>
    <hr>

    <script id="data-product" type="application/ld+json">
        {
          "data" : {{ product | json }}
        }
    </script>
</div>

{% schema %}
    {
    "name": "Main Product",
    "tag": "section",
    "settings": [
        {
            "type": "select",
            "id": "thumbnail_position",
            "label": "Thumbnail position",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "left"
        },
        {
            "type": "range",
            "id": "thumbnails_to_show",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3,
            "label": "Maximum thumbnail images to show"
        }
    ],
    "presets": [
        {
            "name": "Main Product"
        }
    ]
}
{% endschema %}
